.place__text {
    grid-area: text;
    display: flex;
    flex-direction: column;
    gap: 26px;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(29 / 18);
}

@media screen and (max-width: 768px) {
    .place__text {
        gap: 25px;
        font-size: calc((100vw - 320px) / (768 - 320) + 16px);
        line-height: calc(26 / 16);
    }
}

@media screen and (max-width: 540px) {
    .place__text {
        margin: 0 16px;
    }
}