.footer__links {
    margin: 0;
    padding-left: 0;
    display: flex;
    gap: 18px;
    list-style-type: none;
}

@media screen and (max-width: calc(460px + 195px + 18px + 24px * 2)) {
    .footer__links {
        flex-direction: column;
        gap: 32px;
    }
}